<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'link_css.html' %}
    {% include 'head_script.html' %}
</head>
<body>
<div class="content-wrapper">


    <section class="content">

<div id="dialog">
        <div class="box box-info">
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{% url 'ipusage_save' %}" method="POST">
                      {% csrf_token %}
                <div class="box-body">
                <div class="form-group">
                  <label for="name" class="col-sm-2 control-label">IP地址:</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="ip_addr" value="{{ obj.ip_addr }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="address" class="col-sm-2 control-label">MAC地址:</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="mac_addr" value="{{ obj.mac_addr }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="tel" class="col-sm-2 control-label">状态:</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="status" value="{{ obj.status }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="contact" class="col-sm-2 control-label">分类:</label>

                  <div class="col-sm-10">
                    {{ ipu_form.category }}
                    <!--<input type="text" class="form-control" name="category" value="{{ obj.category }}">-->
                  </div>
                </div>
                <div class="form-group">
                  <label for="contact_phone" class="col-sm-2 control-label">主机名:</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="hostname" value="{{ obj.hostname }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="jigui" class="col-sm-2 control-label">系统名称:</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="appname" value="{{ obj.appname }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="ip_range" class="col-sm-2 control-label">模块:</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="appmodule" value="{{ obj.appmodule }}">
                  </div>
                </div>
                <input type="hidden" name="id" value="{{ obj.id }}">
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">保存</button>
              </div>
              <!-- /.box-footer -->
            </form>
</div>
    </div>


    </section>

  </div>
{#回传参数至父层#}
<script type="text/javascript">
        var index = parent.layer.getFrameIndex(window.name);
        var success = {{ status }};
        if ( success == '1' ) {
            parent.$("#handle_status").val('1');
              parent.layer.close(index);
        } else if( success == '2' ) {
            parent.$("#handle_status").val('2');
            parent.layer.close(index);
        }
</script>
</body>
</html>